body{
    background-color: #ffffff;

}
#tab1{
    position: relative;
}
#bus_box{
    width: 50%;
    margin: 10px auto;
}
#bus_btn_clear{

}
.li_box_1{
    position: relative;
}
.li_box_1 .form_box_1{}